lib/jar/dnsns.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-epsg-wkt-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-jdbc-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/postgis-driver-1.0.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-cql-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-svgsupport-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/nashorn.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/netcdfAll-4.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-api-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-postgis-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/jai_imageio-1.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/batik-awt-util-1.6.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/batik-parser-1.6.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-graph-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-main-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-wfs-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/commons-dbcp-1.2.2.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-referencing3D-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/imageio-ext-gdalkakadujp2-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-temporal-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/log4j-1.2.12.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/xpp3-1.1.3.4.O.jar filter=lfs diff=lfs merge=lfs -text
lib/Runner.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/ecore-2.2.2.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-brewer-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-geotiff-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/imageio-ext-gdal-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/imageio-ext-gdalframework-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/vecmath-1.3.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/commons-collections-3.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-epsg-extension-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-imagemosaic-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-imagemosaic-jdbc-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/icedtea-sound.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-imageio-ext-gdal-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/imageio-ext-gdalecwjp2-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/imageio-ext-imagereadmt-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/jdom-1.0.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/saxon-dom-8.7.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-openoffice-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-sample-data-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/imageio-ext-gdalnitf-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/jsqlparser-0.3.14.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/net.opengis.wfs-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/xercesImpl-2.7.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/zipfs.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/commons-beanutils-1.7.0.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/commons-pool-1.3.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/hsqldb-1.8.0.7.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/jsr-275-1.0-beta-2.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/localedata.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/batik-xml-1.6.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-coverage-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/net.opengis.wcs-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/net.opengis.wps-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/rt.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/commons-httpclient-3.0.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-arcsde-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/jai_codec-1.1.3.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/org.w3.xlink-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-sde-dummy-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/imageio-ext-customstreams-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/imageio-ext-geocore-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/net.opengis.ows-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/net.opengis.wfsv-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/imageio-ext-gdalerdasimg-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/imageio-ext-gdalmrsidjp2-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/batik-script-1.6.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-arcgrid-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-render-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-shapefile-renderer-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-xml-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-wms-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-xsd-wfs-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/sunpkcs11.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/batik-svggen-1.6.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/commons-logging-1.1.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/postgresql-8.1-407.jdbc3.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-xsd-filter-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/jai_core.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/sunec.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/batik-ext-1.6.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/cldrdata.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/commons-codec-1.2.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/commons-jxpath-1.2.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-imagepyramid-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-legacy-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-xsd-core-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-xsd-sld-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/imageio-ext-tiff-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/sunjce_provider.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/batik-gvt-1.6.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-xsd-gml2-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-xsd-ows-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/imageio-ext-gdalmrsid-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/batik-css-1.6.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/geoapi-2.2.0.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-db2-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-validation-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-xsd-wps-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-image-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-xsd-kml-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/jaccess.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-property-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/imageio-ext-gdalehdr-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/jts-1.9.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/xsd-2.2.2.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/batik-dom-1.6.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/java-json.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/ant-optional-1.5.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/batik-svg-dom-1.6.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-gtopo30-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-widgets-swing-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-xsd-wcs-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/commons-cli-2.0-gt2-pre1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-libraryJTS-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/imageio-ext-arcgrid-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/imageio-ext-gdaldted-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/xml-apis-1.0.b2.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/batik-util-1.6.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/commons-io-1.4.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/commons-lang-2.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/batik-transcoder-1.6.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-shapefile-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/imageio-ext-gdalecw-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/jlfgr-1.0.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/picocontainer-1.2.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-metadata-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/jai_codec.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/batik-bridge-1.6.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/common-2.2.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-data-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-example-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-referencing-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/gt-xsd-gml3-2.5.5.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/imageio-ext-utilities-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
lib/jar/xml-apis-xerces-2.7.1.jar filter=lfs diff=lfs merge=lfs -text
